<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :student %><br>
    <%= f.check_box :student %>
  </div>
  <div class="field">
    <%= f.label :employee %><br>
    <%= f.check_box :employee %>
  </div>
  <div class="field">
    <%= f.label :hashed_password %><br>
    <%= f.text_field :hashed_password %>
  </div>
  <div class="field">
    <%= f.label :salt %><br>
    <%= f.text_field :salt %>
  </div>
  <div class="field">
    <%= f.label :reset_password_code %><br>
    <%= f.text_field :reset_password_code %>
  </div>
  <div class="field">
    <%= f.label :reset_password_code_until %><br>
    <%= f.datetime_select :reset_password_code_until %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
